# Simple exercises for Basic Data Types in Python

## Numbers

#### 1. Assign any number of type integer to the variable "num_1"

In [1]:
num_1 = int(8)

#### 2. Assign any number of type float to the variable "num_2"

In [4]:
num_2 = float(7)

#### 3. Create the variable "total" as the sum of variables "num_1" and "num_2"

In [5]:
total = (num_1 + num_2)

#### 4. Check the type of the variable "total"

In [6]:
type(total)

float

#### 5. Assign your height to the variable "height"

In [8]:
height = 66

#### 6. Assign your weight to the variable "mass"

In [9]:
weight = 155

#### 7. Create the variable "bmi" :
hint: bmi = weight / (height*height)

In [10]:
bmi = weight/(height*height)

#### 8. Print the value of the "bmi" variable

In [11]:
print(bmi)

0.03558310376492195

# String

#### 1. Create the variable "name" with your first name

In [12]:
name = "Spencer"

#### 2. Create the variable "surname" with your surname

In [13]:
surname = "Denton"

#### 3. Create the variable "name_surname" from variables "name" and "surname" 
hint : use string with white space between variable "name" and "surname"

In [21]:
name_surname = name + " " + surname

#### 4. Print the variable "name_surname"

In [22]:
print(name_surname)

Spencer Denton

#### 5. Print the first letter of the variable "name_surname"

In [38]:
print(name_surname[0])

S

#### 6. Print your name (without any enmpty space) from the variable "name_surname"

In [25]:
name_surname.replace(" ","")

'SpencerDenton'

#### 7. Print your surname 10x (use variable "surname")

In [27]:
print(surname*10)

DentonDentonDentonDentonDentonDentonDentonDentonDentonDenton

#### 8. Create the variable "greeting" with the message "Hello my name is " + your name and surname (use "name_surname" variable)

In [30]:
greeting = "Hello my name is " + name_surname

#### 9. Print the "message" variable

In [31]:
print(greeting)

Hello my name is Spencer Denton

## List

#### 1. Create an empty list named "empty_list"

In [32]:
empty_list = []

#### 2. Create a list called "heights" with five random values

In [33]:
heights = [10,17,28,35,57]

#### 3. Print "heights"

In [34]:
print(heights)

[10, 17, 28, 35, 57]

#### 4. Print the type of variable for "heights"

In [35]:
print(type(heights))

<class 'list'>

#### 5. Print the second value from "heights"

In [36]:
print(heights[1])

17

#### 6. Assign the last three values from "heights" to another list called "heights_2"

In [39]:
heights_2 = [28,35,57]

#### 7. Print "heights_2"

In [40]:
print(heights_2)

[28, 35, 57]

#### 8. Create the variable "list_all" with values from lists "heights" and "heights_2"

In [41]:
list_all = heights + heights_2

#### 9. Print "list_all"

In [42]:
print(list_all)

[10, 17, 28, 35, 57, 28, 35, 57]

#### 10. Print the type of "list_all"

In [43]:
print(type(list_all))

<class 'list'>

## Tuple

#### 1. Create an empty tuple called "empty_tuple"

In [45]:
empty_tuple = ()

#### 2. Try to assign your name to the first position of "empty_tuple" and check the type of error that occurs

In [47]:
empty_tuple.append(name)

AttributeError: 'tuple' object has no attribute 'append'

#### 3. Based on the error that occured in the above question, what is the main difference between a list and a tuple?

In [ ]:
Tuple is immutable. List can be changed.

## Dictionary

#### 1. Create an empty dictionary named "empty_dict"

In [49]:
empty_dict = {}

#### 2. Create a dictionary called "heights_dict" with your name as a key and height as a value

#### 3. Assign another name and height to "heights_dict"

#### 4. Print "heights_dict"

#### 5. Print your height from the "heights_dict" dictionary

#### 6. Print all values from the "heights_dict" dictionary

#### 7. Print all keys from the "heights_dict" dictionary